* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}




/* *HEADER */
header {
    width: 100%;
    height: 100%;
}

/* Box logo/nav-bar/login */
.box-nav {
    width: 100%;
    height: 85px;
    background-color: #ADD8E6;
    justify-content: center;
    align-items: center;
}

/* logo */
.box-nav .logo {
    width: 250px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    align-items: center;
    padding-left: 10px;
}

/* nav-bar */
.nav-bar {
    width: 750px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

/* login */
.box-nav .login {
    width: 250px;
    height: 50px;
    background-color: #daa521;
    border: 1px dashed #000;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

/* Box-intro */
.box-intro {
    width: 100%;
    height: 500px;
    background-color: #00008B;
    justify-content: center;
    align-items: center;
}

/* intro titolo/descrizione/ver. Mac/Browser */
.box-intro .intro {
    width: 950px;
    height: 400px;
    background-color: #EE81EE;
    border: 1px dashed #000;
}
/* */HEADER */




/* *MAIN */
/* Website info */
main {
    width: 100%;
    height: 100%;
}

/* *Section Server */
.box-server {
    width: 100%;
    height: 630px;
    justify-content: center;
    align-items: center;
}

/* Immagine */
.box-server .img {
    width: 750px;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-server .text {
    width: 500px;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
    
}


/* *Section Channel */
.box-channel {
    width: 100%;
    height: 630px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #D3D3D3;
}

/* Immagine */
.box-channel .img {
    width: 750px;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-channel .text {
    width: 500px;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
}


/* *Section Community */
.box-community {
    width: 100%;
    height: 630px;
    justify-content: center;
    align-items: center;
}

/* Immagine */
.box-community .img {
    width: 750px;
    height: 520px;
    background-color: #1D90FF;
    border: 1px dashed #000;
}
/* Testo */
.box-community .text {
    width: 500px;
    height: 520px;
    background-color: #ffbfcb;
    border: 1px dashed #000;
}


/* *Section Audio-video */
.box-video-audio {
    width: 100%;
    height: 620px;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

/* Immagine */
.box-video-audio .audio-video {
    width: 750px;
    height: 520px;
    background-color: #238B21;
    border: 1px dashed #000;
}
/* */MAIN */




/* *FOOTER */
footer {
    width: 100%;
    height: 100%;
}
/* Nav Footer */
.row-nav {
    width: 100%;
    height: 655px;
    background-color: #000;
    justify-content: center;
    padding-top: 10px;
    border-bottom: #FFFFFF;
}

.row-nav .social-media {
    width: 370px;
    height: 600px;
    background-color: #F08080;
    border: 1px dashed #000;
}

.row-nav .product, .company, .resources, .policies {
    width: 220px;
    height: 600px;
    background-color: #1EB1A9;
    border: 1px dashed #FFFFFF;
}